In [1]:
#Importing necessary modules
import os
import csv
import requests
import pandas as pd
import numpy as np
import json
import matplotlib.pyplot as plt
from pprint import pprint
#Setting up parameters for the API Key
api_key='KMXu7o4jj9H_5fBmmoxcQUXUcjaIiDMpnabg34SZhyJUQPt-H6y8sfBIq8jI65xOovUH7cKhDpTUnvK2UIFOf1r5864boyx0PCcIwR4QQ1OeR8IWr5RO7UxW3HJoXXYx'
headers = {'Authorization': 'Bearer %s' % api_key}
#Defining the Business Search end point url
url='https://api.yelp.com/v3/businesses/search'

In [ ]:
# In the dictionary, term can take values like food, cafes or businesses like McDonalds
# Pulling Restaurant reviews for 4 major Cities 
cities =['New York','San Francisco','Houston','Chicago']
restaurants = []
for city in cities:
    #Pulling 1000 responses for each City ( as 1000 is the allowed limit)
        for offset in range(0,1000,50):
            params = {'term':'restaurants','location':city,'sort_by':'distance','limit':50, 'offset':offset}
            response = requests.get(url, params=params, headers=headers).json()
            restaurants.append(dict(response))

In [3]:
# pprint(restaurants[1])

In [4]:
#Defining empty dictionary to save only required elements
final = {}
#Defining Empty list to append all the data 
data = []

for restaurant in restaurants:
    try:
        for item in restaurant['businesses']:
            final['Restaurant Name'] = item['name']
            final['City'] = item['location']['city']
            final['Rating'] = item['rating']
            final['Reviews'] = item['review_count']
            try:
                final['Price'] = item['price']
            except:
                final['Price'] = float('nan')
            data.append(dict(final))
    except:   
        restaurant['businesses'] = float('nan')

In [5]:
#Creating a DataFrame to save the Rating,Reviews , Price etc for 5000 restaurants per City
restaurants_df = pd.DataFrame(data)
restaurants_df.head()

       City Price  Rating                      Restaurant Name  Reviews
0  Brooklyn     $     4.5                    Born & Raised NYC        6
1  New York   NaN     4.0                             Landhaus        1
2  Brooklyn    $$     4.0  Luke's Lobster Brooklyn Bridge Park      303
3  Brooklyn   $$$     4.0              Sugarcane Raw Bar Grill      508
4  Brooklyn     $     3.5         Calexico Taco / Burrito Cart       28

In [6]:
#Dropping Nan values
restaurants_df.dropna(axis='index',how='any',inplace=True)
restaurants_df.reset_index(drop=True)
restaurants_df.head()

       City Price  Rating                      Restaurant Name  Reviews
0  Brooklyn     $     4.5                    Born & Raised NYC        6
2  Brooklyn    $$     4.0  Luke's Lobster Brooklyn Bridge Park      303
3  Brooklyn   $$$     4.0              Sugarcane Raw Bar Grill      508
4  Brooklyn     $     3.5         Calexico Taco / Burrito Cart       28
5  Brooklyn    $$     3.0                            Ignazio's      498

In [7]:
restaurants_df['Rating'].value_counts()

4.0    1246
3.5     797
4.5     519
3.0     320
2.5     184
2.0      99
5.0      60
1.5      37
1.0      14
Name: Rating, dtype: int64

In [8]:
newyork_df = restaurants_df[restaurants_df['City']=='New York']
chicago_df = restaurants_df[restaurants_df['City']=='Chicago']
houston_df = restaurants_df[restaurants_df['City']=='Houston']
sanfran_df = restaurants_df[restaurants_df['City']=='San Francisco']